
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <strong>Título</strong>
    </div>
    <div class="col-lg-1 text-center">
      <strong>Status</strong>
    </div>
    <div class="col-lg-3 text-center">
      <strong>Prazo</strong>
    </div>
    <div class="col-lg-2 text-center">
      <strong>Detalhes</strong>
    </div>

  </div>
  <% @needs.each do |need| %>
    <%= link_to need_path(need) do%>
      <div class="row border-bottom py-2">
        <div class="col-lg-6">
          <p><%=need.title%></p>
        </div>
        <div class="col-lg-1 text-center">
          <p><%=need.status%></p>
        </div>
        <div class="col-lg-3 text-center">
          <p><%=need.deadline.strftime("%d/%m/%Y às %H:%M")%></p>
        </div>
        <div class="col-lg-2">
          <div class="btn-text-lightblue-rfb my-auto" style="max-height:45px; display: block;">Detalhes</div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
