
<br><br>
/shared/_components.html.erb
<br><br><br><br>
<div class="btn-rfb">

</div>

<!-- Flash Alerts - User in the controller -->
    <% flash[:info] = "Any message to informe something" %>
    <% flash[:success] = "Any message of success" %>
    <% flash[:notice] = "Any massage of warning" %>
    <% flash[:alert] = "Any error message" %>


<!-- Buttons -->
<a href="#" class="btn-text-blue-rfb">Incluir</a>
<a href="#" class="btn-text-lightblue-rfb">Incluir</a>

