<div class="cabecalho">
  <nav class="navbar navbar-default " role="navigation">
    <div class="container container-RFB">          
      <div class="navbar-header navbar-brand">
        <%# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <i class="material-icons icon-28"></i>
    </button> %>
   
        <%= image_tag "logo-rfb.png" %> 
             <%# <a href="/php/inicio2.php" target="_self" class="navbar-brand" title=""><img class="img-responsive on-contrast-force-gray" src="/img/icones/logo-rfb.png" alt="Receita Federal">
               <span class="sistema-nome">SA3</span> %>
        <span class="sistema-descricao sistema-nome hidden-xs hidden-sm">Dispensa-web</span>
    <%#<br><span class="sistema-ambiente hidden-xs hidden-sm" style="background-color:"></span></a>
           </div>            
           <div class="navbar-right text-right collapse navbar-collapse" id="menu-principal">
             <p class="acessibilidade" style="margin-top: 0px">
            </p><ul class="drop-down-servidor">
    <li class="dropdown">
    <a class="dropdown-toggle servidor-nome" data-toggle="dropdown" aria-expanded="false">Raissa Santana</a>

                  <i class="material-icons icon-18 dropdown-toggle drop-down-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>

          <ul class="dropdown-menu opcoes-servidor"><li><a href="javascript:f_postPHP(&quot;webgpe52c&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);" data-toggle="tooltip" data-placement="auto" aria-haspopup="true" title="Acessar seu dossiê">Dossiê do servidor</a></li><li><a href="javascript:f_postPHP(&quot;webpes03b&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);" data-toggle="tooltip" data-placement="auto" aria-haspopup="true" title="Consultar seus dados pessoais">Dados pessoais</a></li><li><a href="javascript:f_postPHP(&quot;webpes03a&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);" data-toggle="tooltip" data-placement="auto" aria-haspopup="true" title="Consultar seus dados funcionais">Dados funcionais</a></li><li><a href="javascript:f_postPHP(&quot;webpes05a&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);" data-toggle="tooltip" data-placement="auto" aria-haspopup="true" title="Editar seu local de trabalho">Edita local de trabalho</a></li><li></li><li></li></ul></li></ul><a class="contraste-toggler" href="#">Alto Contraste</a><p></p>
          <ul class="menu-cabecalho"><li><button class="btn btn-default" type="button" data-toggle="tooltip" name="Ihelp" id="botao_voltar" data-placement="bottom" aria-haspopup="true" title="Voltar a página" onclick="javascript:voltar();" disabled="disabled">
          <i class="material-icons icon-24"></i></button></li><li></li><li><button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Página inicial" onclick="javascript:location.href=&quot;/php/inicio2.php&quot;;"><i class="material-icons icon-24"></i></button></li><li><button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Atualizar a página" onclick="javascript:location.replace(document.FormX.replaceX.value);">
          <i class="material-icons icon-24"></i></button></li><li><button class="btn btn-default " type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Visão RFB" onclick="javascript:f_postPHP(&quot;webpes11a&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);">
          <span><i class="material-icons icon-24"></i></span>
          </button></li><li><button class="btn btn-default " type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Localiza servidores" onclick="javascript:f_postPHP(&quot;webpes01a&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);">
          <span><i class="material-icons icon-24"></i></span>
          </button></li><li><button class="btn btn-default " type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Ocupantes de Função" onclick="javascript:f_postPHP(&quot;webfun01a&quot;,&quot;matSiape&quot;,&quot;2719791&quot;,&quot;nãoValida&quot;,&quot;&quot;);">
          <span><i class="material-icons icon-24"></i></span>
          </button></li><li><button class="btn btn-default " type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Favoritos do usuário" onclick="javascript:f_postPHP(&quot;webapo71a&quot;,&quot;cpf_usuario&quot;,&quot;088042426&quot;,&quot;nãoValida&quot;,&quot;&quot;);">
          <span><i class="material-icons icon-24"></i></span>
          </button></li><li><button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Imprime a página" onclick="javascript:print();">
          <i class="material-icons icon-24"></i></button></li><li><button class="btn btn-default" type="button" data-toggle="modal" data-target="#ajuda" title="Ajuda contextual: ">
          <i class="material-icons icon-24"></i></button></li><li><button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" aria-haspopup="true" title="Sair com segurança" onclick="javascript:saida();">
          <i class="material-icons icon-24"></i></button></li></ul> %> 
      </div> 
    </div>
  </nav> 
</div>

