components.html.erb

<div class="btn-rfb">

</div>

<!-- Flash Alerts - User in the controller
    flash[:info] = "Any message to informe something"
    flash[:success] = "Any message of success"
    flash[:notice] = "Any massage of warning"
    flash[:alert] = "Any error message"
-->


