<div id="banner">
  <div id="banner-content">
    <h1>Dispensa-web</h1>
    <p class="mb-1">Seu órgão contrata com dispensa de licitação?</p>
    <p class="mb-4">Cadastre suas necessidades de contração e receba propostas!</p>

    <p class="mb-1">Você quer enviar propostas órgãos que estão adquirando bens e serviços sem licitação?</p>
    <p class="mb-4">Cadastre-se, procure seleções em aberto em envie suas proposta!</p>

    <p><em><strong>Simples. Rápido. Transparente.</strong></em></p>
    <button class="btn-text-blue-rfb">
      <%= link_to 'Cadastre-se', new_user_registration_path, style: 'width: 138px;'%>
    </button>
  </div>
</div>
