<div id="banner">
  <h1>Dispensa-web</h1>
  <p><em><strong>Simples. Rápido. Transparente.</strong></em></p>
  <p>Divulgue necessidades de aquisição para o seu órgão na modalidade de dispensa de licitação e receba propostas</p>
    <button class="btn-text-blue-rfb">
      <%= link_to 'Cadastre-se', new_user_registration_path, style: 'width: 138px;'%>
    </button>
</div>
