#banner {
  padding: 50px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url('archive.jpeg');
  background-size: cover;
  text-align: center;
  height: 100vh;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

#banner-content {
  text-align: left;

  h1 {
    font-size: 72px;
  }

  p {
    padding-left: 10px;
    font-size: 24px;
  }
}
