.btn-text-blue-rfb{
  padding: 10px 34px;
  display: inline-block;
  background-color: $color-a-rfb;
  color: white;
  text-decoration: none;
  border-radius: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;

  &:hover{
    text-decoration: none;
    background-color: $color-b-rfb;
    color: white;
  }

  &:active{
    background-color: $color-b-rfb;
    text-decoration: none;
    color: white;
  }

  &:disabled{
    /*background-color: $color-lightgrey-rfb;
    color: $color-grey-rfb;
    border: 1px solid $color-grey-rfb;
    opacity: 0.6;
    font-weight: bolder;*/
    opacity: 0.3;
  }

}

.btn-text-lightblue-rfb{
  padding: 10px 34px;
  display: inline-block;
  background-color: $color-a4-rfb;
  color: $color-a-rfb;
  text-decoration: none;
  border-radius: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid transparent;

  &:hover{
    text-decoration: none;
    background-color: $color-b4-rfb;
    color: $color-b-rfb;
  }

  &:active{
    background-color: $color-b4-rfb;
    text-decoration: none;
    color: $color-b-rfb;
  }

}
